#imapc {
 width:80%;
}

#imap {
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
	width:70%;
	height:70%;
}

figcaption {
  text-align: center;
  width:50%;
}

.info
{
	float:right;
	margin:8px;
	padding:6px;
	border:1px solid #bbbbbb;
	width:400px;"
}