@charset "UTF-8";
.lineColor
{
	stroke:black;
	stroke-width:75.5906
}

.backgroung
{
	fill:white;
}

.firstCorp
{
	fill:#68D5FF;
}

.twoCorp
{
	fill:#CBC7E4;
}

.threeCorp
{
	fill:#FFF400;
}

.fourCorp
{
	fill:#FFAED3;
}

.fiveCorp
{
	fill:#FFADAC;
}

.sevenCorp
{
	fill:#FF5775;
}

.eightCorp
{
	fill:#FF0F4D;
}

.CCorp
{
	fill:#9CC4B4;
}

.DCorp
{
	fill:#7DD5AE;
}

.ECorp
{
	fill:#B28D77;
}

.KCorp
{
	fill:#FFA878;
}

.MCorp
{
	fill:#8ECF29;
}

.OCorp
{
	fill:#CBE4D4;
}

.TCorp
{
	fill:#FFF6D4;
}

.PCorp
{
	fill:#FDFBAD;
}

.unknownCorp
{
	fill:black;
}
.label{
  	font-size: 5000px;
	fill:black;
}
polygon:hover
{
   	opacity: 0.5;
}