@charset "UTF-8";
text
{
	pointer-events: none;
	font-weight:normal;
	font-size:200px;
	font-family:'Arial';
	filter: alpha(Opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	cursor: default;

	-webkit-user-select: none;
	-moz-user-select: none;
}

image
{
	pointer-events: none;
}

rect
{
	stroke:black;
	stroke-width:20;
    fill:white;
}

rect:hover
{
	opacity: 0.5;
	fill:yellow;
	stroke:yellow;
	stroke-width:100;
}

polygon
{
	stroke:black;
	stroke-width:20;
	fill:white;
}